.infos-logement {
    display: flex;
    flex-direction: row;
}

.title-block {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

.collapse-block {
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.collapse-parent {
    display: flex;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
 
    /* or 51px */
    display: flex;
    align-items: flex-end;
    margin: 0px;
    color: #FF6060;
}

h2 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
margin-top: 0px;
/* identical to box height, or 26px */
display: flex;
align-items: flex-end;

color: #FF6060;

}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 24px;
    }
    
    .title-block, .collapse-block {
        width: 100%;
    }
    .infos-logement {
        flex-wrap: wrap;
    }

    .infos-host {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    .collapse-block {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    
    .collapse-parent {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}