.parentGrid {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 30px;
    background-color: var(--gris);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 25px;
}
