.parentGrid {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    background-color: var(--gris);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 25px;
}


@media screen and (max-width: 767px) {
    .parentGrid {
        grid-template-columns: repeat(1, 100%);
        padding: 0px;
        background-color: white;
    }
    
}