.star-rating {
    display: inline-block;
    font-size: 1.4rem;
    color:  var(--rouge);
;
  }
  
  .star-rating span {
    display: inline-flex;
    flex-direction: row;
    padding-right: 5px ;
  }
  
  .star-rating .fa-star-o {
    color:  #E3E3E3;
  }
  
  @media screen and (max-width: 768px) {
    .star-rating {
      font-size: 0.7rem;
    }
    
    .star-rating {
      padding-right: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }