.erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.erreurNumber {
   font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    display: flex;
    align-items: center;
    text-align: center;
}

.erreur p , a {
    margin: 0;
    color: var(--rouge);
}

.erreurMessage {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 60px !important;
}

.erreurButton{
    margin-top: 100px !important;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .erreurNumber {
        font-size: 52px;
    }

    .erreur {
        height: 100vh;
    }
}