.carousel {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    border-radius: 25px;
  }
  
  .carousel-inner {
    
    position: relative;
    display: flex;
    transition: left 0.5s ease-in-out;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    max-height: 445px;
    object-fit: cover;
  }
  
  .carousel-item.active {
    position: relative;
    opacity: 1;
  }
  
  .carousel-item.next {
    left: 100%;
  }
  
  .carousel-item.prev {
    left: -100%;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }
  
