.collapseContent {
display: block;
}

.collapseButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rouge);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    z-index: 2;
    margin-top: 20px;
}

.collapseContent {
   position: relative;
   top: -15px;
    background-color: var(--gris);
    padding: 30px 20px;
    border-radius: 10px;
    color: var(--rouge);
    font-size: 24px;
    z-index: -1;
    
}

.collapseContent p {
    margin: 0;
}